[build-system]
requires = ["setuptools >= 40.6.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target_version = ['py38']
include = '\.pyi?$'
exclude = "venv"

[tool.coverage.run]
source = ["memoizit"]
command_line = "-m pytest"